/* Atom Theme Background Color. This tag isn't needed */
body {
    background-color: #272b34;
}

/* Infobox */

.infobox {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Microsoft YaHei Light", sans-serif;

    max-width: 250px;
    color: #dcddde;

    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;

    background-color: rgba(255, 255, 255, 0);
    padding: 6px;
}


h1 {
    color: rgb(255, 253, 251);
}


/* Margin between blocks */
.infobox>*:not(:last-child) {
    margin-bottom: 6px;
}

/* Defines header container */
.infobox .heading {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}


/* Infobox main header */
.infobox .heading h2 {
    margin: 0;
    line-height: 1;
    font-size: 20px;
}

/* Infobox block header */
.infobox .heading h3 {
    margin: 0;
    line-height: 1;
    font-size: 16px;
}

.infobox-img {
    display: block;
    width: 100%;
}

/* Row inside a block*/
.infobox-datarow {
    font-size: 12px;
}

/* Block heading margin */
.infobox-group .heading {
    margin-bottom: 8px;
}

/* Defines data display */
.infobox-datarow .data-heading,
.infobox-datarow .data-content {
    display: inline-block;
    margin: 2px;
    vertical-align: top;
}

.infobox-datarow .data-heading {
    width: 72px;
    font-weight: 500;
}

.infobox-datarow .data-content {
    list-style-type: none !important;
    padding-left: 0;
}

.infobox-datarow .data-content * {
    white-space: pre-wrap;
}

/* Removing bullets that obsidian renders from code blocks */
.infobox .infobox-datarow .list-bullet::before,
.infobox .infobox-datarow .list-bullet,
.infobox .infobox-datarow .list-bullet::after {
    all: unset !important;
    display: none !important;
}

/* Removing padding of first column of multi-column markdown */
.mcm-column-div:is(:first-child) {
    padding-inline-start: 0px;
}


/* Increasing page width */
body {
    --file-line-width: 900px;
}























@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.wrapper .sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 145px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 5px 0 2px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;

}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 0px;
    border-block: 1px solid #ffffff53;
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}



.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #000000;

    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .section {
    width: calc(100% - 185px);
    margin-left: 145px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
    color: #a2ecff;
}

.wrapper .section .container {
    color: rgb(241, 237, 237);
    margin: 30px;

    padding: 50px;
    line-height: 28px;
}

body.active .wrapper .sidebar {
    left: -185px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}